/* основной цвет фона #ffffff */
/* вторичный цвет фона #F5F4FA */
/* основной цвет текста #757575 */
/* вторичный цвет текста #212121 */
/* вспомогающий цвет текста #FFFFFF */
/* акцент на странице #2196F3 */
/*  цвет фона Футера #2F303A; */
/* цвет телефона и имейла в футере rgba(255, 255, 255, 0.6); */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --accent-secondary-color: #000000;
  --primary-white-color: #ffffff;
  --fotter-bcg-color: #2f303a;
}

/* Боди */

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

/* убирает точки и подчеркивания в списках */
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

/* оформление логотипа Web Studio */

.logo-web {
  color: var(--accent-color);
}

.logo-studio {
  color: var(--accent-secondary-color);
}

/* Логотип футер */

.logo-footer {
  color: white;
}

/* оформление навигации студия, портфолио, навигация */

.nav-list {
  color: var(--title-text-color);
}
.nav-list:hover,
.nav-list:focus {
  color: var(--accent-color);
}

/* оформление стилей адреса */

.address-list {
  color: var(--primary-text-color);
}
.address-list:hover,
.address-list:focus {
  color: var(--accent-color);
}

/* настраиваем оформление кнопки */

.button {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
/* Все заголовки 2 и 3 уровня будут одного цвета */

h2,
h3 {
  color: var(--title-text-color);
}

/* оформление футера */

.footer {
  background-color: var(--fotter-bcg-color);
}

/* оформление адресса в футере */

.address-map {
  color: var(--primary-white-color);
}

.address-info {
  color: rgba(255, 255, 255, 0.6);
}

.sign-up {
  color: var(--primary-white-color);
}

/* оформление кнопок портфолио */

.button-portfolio {
  width: 145px;
  height: 38px;
  left: 712px;
  top: 174px;
  border-radius: 4px;
  background-color: #f5f4fa;
  color: var(--title-text-color);
}

.button-portfolio:focus,
.button-portfolio:hover {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
